* { font-family: 'Open Sans', sans-serif; }
body { margin: 0; }


#nav-logo {
    max-height: 60px;
    min-width: 60px;
    min-height: 20px;
    float: left;
}
#nav-container {
    background: #2c3e50;
    padding: 8px;
    color: white;
}
nav {
    content: "";
    clear: both;
    display: table;
}
.bar {
    display: flex;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 5px;
}
.search { flex: 1; }
.search input { width: 100%; }
nav ul { display: flex; list-style-type: none; }
nav a { color: white; text-decoration: none; }
nav a:hover { color: #1C4CB2; }
nav li { padding-right: 15px; }


/* MAIN - all images
============================================================= */
#main-wrapper {
    margin: 24px 48px;
}
#all-images-container {
    display: flex;
    flex-wrap: wrap;
}
.single-image-container {
    flex-basis: 33%;
    text-align: center;
    /* padding: 32px;
    margin: 16px 16px 16px 0; */
}
.single-image {
    max-width: 300px;
}



/* Upload Form
============================================================= */

#upload-form {
    background-color: #C4C4C4;
    padding: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;

}






/* Single Image
============================================================= */

#image, #upload-form-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .75);
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#single-image-inner-wrapper {
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 500px;
    min-width: 650px;
}

#image #single-image-content {
    background-color: white;
    padding: 24px;
    margin: 16px 16px 16px 0;
}
#image #single-image-wrapper {
    background-color: white;
    text-align: center;
    /* padding: 32px; */
    margin: 16px 0 16px 16px;
}
#single-image-wrapper img {
    height: 100%;
    width: 100%;
}

#single-image-content .single-image-title {
    border-bottom: 1px solid gainsboro;
}
.single-title-username {
    font-weight: 700;
}

#single-image-content .description {
    border-bottom: 1px solid gainsboro;
}

#single-image-content .description p {
    background-color: #ececec;
    padding: 24px 8px;
}




/* COMMENTS
    ======================================================= */

.comment .comment-username { font-weight: 700; margin-right: 5px; }

#comment-form textarea { width: 100%; }
#comment-form input { width: 100%; }




/* HELPERS
    ======================================================= */

.center { text-align: center; }



/* TRANSITIONS
    ======================================================= */

.bounce-enter-active, .bound-leave-active { transition: all .5s; }
.bounce-enter, .bound-leave-to { transform: scale(0) }

.slide-enter { opacity: 0; }
.slide-enter-active { animation: slide-in 1s ease-out forwards; transition: opacity .5s; }
.slide-leave {}
.slide-leave-active { animation: slide-out 1s ease-out forwards; transition: opacity 1s; opacity: 0; }

@keyframes slide-in {
    from { transform: translateX(20px); }
    to { transform: translateX(0); }
}
